body {
  background: #001628;
  color: #777;
  padding: 4em;
  font-family: sans-serif;
  line-height: 1.15;
  .page {
    padding: 2em;
    background: #cecece;
    .game {
      display: flex;
      justify-content: space-around;
      .board {
        height: 600px;
        width: 600px;
        padding: 1em;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1),
          0 20px 20px rgba(0, 0, 0, 0.05);

        table {
          margin: auto;
          border: solid 0px rgb(0, 199, 255);
          background-color: rgb(0, 191, 255);
          td {
            // border: solid 1px rgb(11, 199, 255);
            box-shadow: inset 0 0 10px rgb(11, 199, 255);
            height: 40px;
            width: 40px;

            &.hit {
              width: 15px;
              height: 15px;
              background: linear-gradient(-45deg, red, orange);
              border-radius: 150px 150px 0px 150px;
              transform: rotate(-135deg) scale(0.8);
              animation: 0.1s flame infinite;
              filter: blur(5px);
              position: relative;
              box-shadow: 17px 20px 90px #700;
              border: 1px solid black;
              border-left-width: 2px;
              border-top-width: 2px;
              &.destroyed {
                filter: blur(10px);
              }

              &:after,
              &:before {
                content: "";
                width: 10px;
                height: 10px;
                display: block;
                position: absolute;
                background: linear-gradient(-45deg, red, orange);
                animation: 0.2s flame infinite;
                transform: scale(0.8) rotate(20deg);
                border-radius: 100px 100px 0px 100px;
                top: 20px;
              }
              &:before {
                top: 0;
                animation-duration: 0.09s;
                transform: scale(0.9) rotate(-15deg) translate(10px, 0px);
              }
            }
          }
        }
        &.user {
          [ship] {
            box-shadow: inset 0 0 10px #000;
          }
          .start_h {
            width: 0;
            height: 0;
            border-left: 0px solid transparent;
            border-top: 20px solid transparent;
            border-right: 40px solid #555;
            border-bottom: 20px solid transparent;
          }
          .start_v {
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 40px solid #555;
            border-top: 0px solid transparent;
          }
          .end_h {
            background-color: #555;
            border-radius: 0px 5px 5px 0px;
          }
          .end_v {
            background-color: #555;
            border-radius: 0px 0px 5px 5px;
          }
          .body_h {
            background-color: #555;
          }
          .body_v {
            background-color: #555;
          }
        }
      }
    }
  }
}

@keyframes flame {
  0% {
    height: 39px;
    width: 39px;
  }
  50% {
    height: 33px;
    width: 33px;
  }
  100% {
    height: 39px;
    width: 39px;
  }
}
